
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,600;1,100&family=The+Nautigal:wght@400;700&display=swap);
*{
    margin:0;
}
html, body{
    height: 100%;
 
}
body{
    font-family: Be Vietnam;
    background-color: pink;
}
.p {
    margin: 0.5em 0 0.5em 0;
}
header{
    display :block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color:thistle;
}
nav a:visited,
nav a:link {
    color:white;
    text-decoration: none;
}
nav > ul {
    display: inline;
    padding:0;
}
nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    padding: 1em;

}
main{
    display: block;
    padding-top :3em;
    padding-bottom: 3em;
    min-height: 85%;
    text-align: center;
    
}
footer {
padding: 15px;
}
.Landing-Image{
    padding-top: 1em;
    padding-bottom: 1em;

}
li{
    list-style: none;
    text-decoration: none;

}
a:link {
    text-decoration: none;
}
.columns-desktop {
    border: solid;
    display: flex;

}
.columns-desktop > div {
    flex:2
}
.Music{
flex: 1;
}
.Music-Image{
    width: 25%;
    height:auto;
}
.Landing-Image {
    max-width: 75%;
    height:auto;
    width: 100%;
}
.subtitle {
    max-width: 100%;
    background-color: white;
}
